/*
 * Extra CSS for Moodle : Bootcamp
 * JD : 2021
 * 21/10/04
 *
 */

  pre {margin-left:2em; padding-top:8px; padding-bottom:8px; padding-left:2em;}
  p {padding-top:0.5em; padding-bottom:0.5em; margin-top:0.5em; margin-bottom:0.5em; }

  .key {font-weight:bold; padding:6px; margin:2px; padding-top:2px; padding-bottom:2px; background-color:#e0e0e0; border:1px solid #c0c0c0; border-right:2px solid #909090; border-bottom:2px solid #909090; }

  .todo {margin:2em; background-color:#fffff0}

  .figCaption {margin:1em; color:#606060; font-style:italic; font-size: 90%}

  .checkOutcomes {padding:1em; margin-left:3em}

  .focusON {float:left; padding:0.5em; margin-right:1em; margin-top:0.25em; color:#b44; background-color:#f84; text-align:right; clear:both; border-right:4px solid #b44; font-size:200%;}
  .focusOFF {display:none; padding:0px; color:#229; background-color:#fff; }

  .focusLecture {display:block; padding:0px;  background-color:#ff0; border-left:4px solid #b44;}
